<%= form_for @plant do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>
<p>
  <%= f.submit 'Update plant' %>
</p>
<% end %>