<%= form_for @plant do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
  <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.submit 'Add plant' %>
  </p>
<% end %>

<% @plants.each do |plant| %>
<ul>
  <li>
    <%= link_to "#{plant.name}", plant_path(plant) %>, <%= plant.size %>
  </li>
</ul>
<% end %>